
{% extends "all.html" %}

{% block title %}
  Home
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/home.css/">
<link rel="stylesheet" href="/static/login.css/">
{% endblock style %}

{% block body %}
  
    {% if log %}
    <div class="main">

        <input type="hidden"  class="sr" value="{{surpesUser}}">
        <div id="responseposts">
            
        </div>
    </div>

    {% else %}
    <div class="loginmain">
    <div class="login-container">
        <h1>Login</h1>
        <h1>Bro's Book LTD</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                Wrong Username or Password?!
              </div>
            {% endif %}
            <button type="submit" class="login-btn">Login</button>
        </form>
    
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <!-- Optional Links -->
        <a href="javascript:void(0)" class="forgot-password">Forgot Password?</a>
        <a href="/signin/" class="signup-link">Don't have an account? Sign Up</a>
    </div>
</div>

    {% endif %}
 
    {% endblock body %}

{% block script %}
  
<script src="/static/home.js/">

</script>


{% endblock script %}